body.bg {
  background: linear-gradient(135deg,#2b5876,#4e4376);
  font-family: Arial;
  color: white;
  text-align: center;
  padding: 20px;
}

.login-card {
  background: white;
  color: black;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

input, textarea, select {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button {
  background: #4e4376;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}

.card {
  background: white;
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
